.parte1{
 text-align: center;
 background-color: rgb(47, 45, 184);
}
.parte2{
 text-align: center;
 background-color: rgb(13,192,37);
}
.parte3{
text-align: center;
 background-color: rgb(209,192,37);
}
            
        

        


